
*{
    padding: 0;
    margin: 0;
}
.sidebar{
    position: fixed;
    min-width: 15%;
    height: 100vh;
    background: #1C1D21;
    display: inline-block;
}
.list-ul li{
    list-style: none;

}
.list-ul a{
    display: block;
    text-decoration: none;
    line-height: 50px;
    color: white;
    padding-left: 15px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}
.list-ul a:hover{
    padding-left: 20px;
    transition:0.4s;
}
.list-ul i{
    margin:0 10px 0 10px;
}
.sidebar header{
    text-align: center;
    color: white;
    line-height: 50px;
    background-color: #0e2231;
    user-select: none;
}
    /*.main-div{*/
    /*    margin-left: 16%;*/
    /*}*/
#myTable{
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
#myTable tr{
    height: 40px;
}

.messagePage{
    background-image: url('../image/banner/contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Admin login */
.hi{
    color: aqua;
}
.adminContainer{
    padding-top: 150px;

}
.adminSecondContainer{
    border:1px solid red;
    padding:60px;
}

/*logout app.blade.php*/
.signout{
    font-weight: bold;
    font-size: 30px;
}
.imagePreview{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.imageOnScroll{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border: none !important;
}
